@model IEnumerable<News>
 
				 @foreach(var item in Model ){
				<div class="col-md-4">

					  @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id"><i class="bi bi-pencil-square"></i>Edit </a> 
                                     <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id"><i class="bi bi-pencil-square"></i>Delete </a> 
                                        }
                                        
				      <div class="blog-box">
						   
					     <div class="blog-media">
						      <img class="img-fluid" src="@item.image" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a asp-controller="News" asp-action="Details"asp-route-id="@item.id" >  @Html.DisplayNameFor(model => item.title) </a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i>  @item.datetime </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin </li>
							  </ul>
							  <p> @item.desc </p>
						  </div>
					</div>
				 </div> 
				 }