@model IEnumerable<News>

	@{
		Layout=null;
	}
 

							  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NEWSROOM|Blog & News</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/NewsStyle.css" rel="stylesheet">

</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center bg-light px-lg-5">
            <div class="col-12 col-md-8">
                <div class="d-flex justify-content-between">
                    <div class="bg-primary text-white text-center py-2" style="width: 100px;">Trending</div>
                    <div class="owl-carousel owl-carousel-1 tranding-carousel position-relative d-inline-flex align-items-center ml-3" style="width: calc(100% - 100px); padding-left: 90px;">
                        <div class="text-truncate"><a target="_blank class="text-secondary" href="https://www.who.int/europe/home?v=welcome">COVID-19 Latest</a></div>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right d-none d-md-block">
                @DateTime.Now.ToLongDateString()
              

            </div>
        </div>
        <div class="row align-items-center py-2 px-lg-5">
            <div class="col-lg-4">
                <a href="" class="navbar-brand d-none d-lg-block">
                    <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
                </a>
            </div>
            
        </div>
    </div>
   
    <div class="container-fluid p-0 mb-3">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
               
                
            </div>
        </nav>
    </div>
 
    <div class="container-fluid py-3">
        <div class="container">
            <div class="owl-carousel owl-carousel-2 carousel-item-3 position-relative">
                @{
                    var count = 0;
                }
                @foreach(var item in Model ){
                <div class="d-flex">
                    <img src="@item.image" style="width: 80px; height: 80px; object-fit: cover;">
                    <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">

                        
                           @{
                               if (@item.title.Length<=14)
                                {

                                    <a class="text-secondary font-weight-semi-bold" href="">@item.title</a>
                                }
                                else
                                {
                                    <a class="text-secondary font-weight-semi-bold" href="">@item.title.Substring(0,14) ...</a>
                                }
                            }
                            
                               
                    </div>
                </div>
              
                
                }
   
                </div>
            </div>
        </div>
    </div>
 
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-12">
                     
                    <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
                        @foreach(var item in Model ){
                              count++;
                if(count==3){

                    break;
                }
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="@item.image" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
      
                                    <a class="text-white" href="">@item.datetime.ToShortDateString()</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">@item.title</a>
                            </div>
                        </div>
                        }
                    </div>
                    
                </div>
              
              
            </div>
        </div>
    </div>

    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
            
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">Latest</h3>
                                <a class="text-secondary font-weight-medium text-decoration-none" href="#AllNews-section">View All</a>
                            </div>
                        </div>
                        
                            @{
                                var itemArray = Model.ToArray();
                            }
                        <div class="col-lg-6">
                           
                       
                        
                            <div class="position-relative mb-3">
                                <img style="min-height:250px;min-width:350px;max-width:351px;max-height:251px;border:2px solid grey;object-fit: cover;" class="img-fluid w-100" src="@itemArray[@itemArray.Length-1].image" >
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                     
                                        <span>@itemArray[@itemArray.Length-1].datetime</span>
                                    </div>
                                    <a target="_blank" asp-controller="News" asp-action="Details"asp-route-id="@itemArray[@itemArray.Length-1].id" >@itemArray[@itemArray.Length-1].title </a>
                                    
                                        @{
                                            if (itemArray[itemArray.Length-1].desc.Length<=251)
                                            {
                                                <p class="m-0"> @itemArray[@itemArray.Length-1].desc </p>

                                        }
                                        else
                                        {
                                                 <p class="m-0"> @itemArray[@itemArray.Length-1].desc.Substring(0,251) ...<a target="_blank" asp-controller="News" asp-action="Details"asp-route-id="@itemArray[@itemArray.Length-1].id" style="font-size:10px!important">ReadMore</a> </p>
                                        }
                                    }
                                        
                                        
                                        
                                    


                                        
                                   
                                </div>
                            </div>
                           
                        
                           
                        </div>
                        <div class="col-lg-6">

                           
                            <div class="position-relative mb-3">
                                <img style="min-height:250px;min-width:350px;max-width:351px;max-height:251px;border:2px solid grey;" class="img-fluid w-100" src="@itemArray[@itemArray.Length-2].image" style="object-fit: cover;">
                                <div class="overlay position-relative bg-light">
                                    <div class="mb-2" style="font-size: 14px;">
                                   
                                        <span>@itemArray[@itemArray.Length-2].datetime</span>
                                    </div>
                                    <a target="_blank" asp-controller="News" asp-action="Details"asp-route-id="@itemArray[@itemArray.Length-2].id" >@itemArray[@itemArray.Length-2].title </a>
                                     @{
                                            if (itemArray[itemArray.Length-2].desc.Length<=251)
                                            {
                                                <p class="m-0"> @itemArray[@itemArray.Length-2].desc </p>

                                        }
                                        else
                                        {
                                                 <p class="m-0"> @itemArray[@itemArray.Length-2].desc.Substring(0,251) ...<a target="_blank" asp-controller="News" asp-action="Details"asp-route-id="@itemArray[@itemArray.Length-2].id" style="font-size:10px!important">ReadMore</a> </p>
                                        }
                                        }
                                    

                                </div>
                            </div>
                          
                        </div>
                  
                    </div>
                </div>
                
                <div class="col-lg-4 pt-3 pt-lg-0">
                   
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Follow Us</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                                <small class="fab fa-facebook-f mr-2"></small><small>12,345 Fans</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                                <small class="fab fa-twitter mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                                <small class="fab fa-linkedin-in mr-2"></small><small>12,345 Connects</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                                <small class="fab fa-instagram mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                                <small class="fab fa-youtube mr-2"></small><small>12,345 Subscribers</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                                <small class="fab fa-vimeo-v mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                    </div>
                   
              
                  
                </div>
            </div>
        </div>
    </div>
    </div>
 
    <hr />
    <div class="container-fluid bg-light pt-5 px-sm-3 px-md-5">
        <div class="row">
               @foreach(var item in Model ){
				<div id="AllNews-section" class="col-md-6">

					  @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                    <a  class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.id"><i class="bi bi-pencil-square"></i>Edit </a> 
                                     <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id"><i class="bi bi-pencil-square"></i>Delete </a> 
                                        }
                                        
				      <div class="blog-box">
						   
					     <div class="blog-media">
						      <img style="min-height:150px;min-width:250px;max-width:251px;max-height:151px;float:right;border:2px solid grey;" class="img-fluid" src="@item.image" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a target="_blank" asp-controller="News" asp-action="Details"asp-route-id="@item.id" >  @item.title </a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i>  @item.datetime </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin</li>
							  </ul>
							  <p> @item.desc </p>
						  </div>
					</div>
				 </div> 
				 }
        </div>
    </div>

   
    

    <a href="#" class="btn btn-dark back-to-top"><i class="fa fa-angle-up"></i></a>

    

   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/Newsmain.js"></script>
</body>

</html>